body {
    background-color: black;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

h3 {
    color: brown;
}

.img_edit {
    text-align: center;
}

img {
    margin: 20px;
    border: 50px;
    padding: 25px;
}